<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Paramount World Records</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              navy: '#002147',
              gold: '#D4AF37',
            }
          }
        }
      }
    </script>
</head>
